* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --bkgColor: #DBDFDB;
    --fontColor: #000023;
    --popColor: #FE6400;
    --bulma-skeleton-background: var(--bulma-border);
}

body {
    background-color: var(--bkgColor);
    height: 100vh;
    
}

/* font styling */

h2 {
    font-size: 19px;
    font-weight: bold;
    color: var(--popColor);    
}

p {
    color: var(--popColor);
}

i {
    color:var(--popColor);
}

/* header styling */
.logo {
    position: relative;
}

.navContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  
    position:;
}


.button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 110px;
    width: 300px;
    border: 1px solid var(--fontColor);
    color: var(--popColor)
  }

.button:hover {
    background-color: var(--fontColor);
    color: var(--bkgColor);
  }

/* main page styling */

.hero {
    padding: 10px 10px;
    background-color: var(--bkgColor);
}

.hero-body {
    background-color: var(--bkgColor);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  
}


.footer {
    background-color: var(--bkgColor);
}
