.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
}

.flex-box {
    display: flex;
    flex-direction: row;
}

.flex-baby{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}