* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --bkgColor: #DBDFDB;
    --fontColor: #000023;
    --popColor: #FE6400;
}

body {
    background-color: var(--bkgColor);
    height: 100vh;
    
}

/* font styling */

h2 {
    font-size: 19px;
    font-weight: bold;
    color: var(--popColor);    
}

p {
    color: var(--popColor);
}

i {
    color:var(--popColor);
}

.image {
    display: flex;
}

/* header styling */


.navContainer {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  
    position: relative;
}

/* .btnContainer { */
    /* justify-content: space-evenly; */
/* } */

.button { 
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    width: 300px;
    border: 0px solid var(--fontColor);
    color: var(--popColor)
    
  }

.button:hover {
    background-color: var(--fontColor);
    color: var(--bkgColor);
  }

/* main page styling */

.hero {
    background-color: var(--bkgColor);
}

.hero-body {
    background-color: var(--bkgColor);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  
}


.footer {
    background-color: var(--bkgColor);
}
